@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using ASM_APPLICATION_DEV.ViewModel
@model BookViewModel

<script src="https://kit.fontawesome.com/a775ea28da.js" crossorigin="anonymous"></script>

<style>

    .fa-chart-line {
        margin-right: 10px;
    }

    .fa-book {
        margin-right: 10px;
    }

    .fa-list {
        margin-right: 10px;
    }

    .fa-clipboard-user {
        margin-right: 10px;
    }


    .btn-wrapper {
        margin: 10px 0 10px 0;
    }

</style>

<div class="body-container">

    <div class="display-container">
        <form enctype="multipart/form-data" asp-controller="Books" asp-action="Create" method="post">
            <div class="form-group">
                <label>Name of Book</label>
                <input asp-for="Book.NameBook" class="form-control" placeholder="Name Of Book" />
                <span asp-validation-for="Book.NameBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Name of Book</label>
                <input asp-for="Book.Author" class="form-control" placeholder="Name Of Book" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input asp-for="Book.QuantityBook" class="form-control" type="number" />
                <span asp-validation-for="Book.QuantityBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input asp-for="Book.Price" class="form-control" placeholder="Price" type="number" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Information of Book</label>
                <textarea asp-for="Book.InformationBook" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select asp-for="Book.CategoryId"
                        asp-items="@(new SelectList(Model.Categories, "Id", "NameCategory"))"
                        class="form-control">
                </select>
            </div>
            <div class="form-group">
                <dl>
                    <dt>
                        <label asp-for="@Model.FormFile"></label>
                    </dt>
                    <dd>
                        <input asp-for="@Model.FormFile" type="file">
                    </dd>
                </dl>
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>